@use "abstracts/" as *;

div {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--spacer-500);
}

.label {
  margin-inline-end: auto;
  margin-bottom: var(--spacer-200);
  padding-inline-end: var(--spacer-300);
  font-size: var(--fs-300);
  text-transform: capitalize;
  color: hsl(var(--clr-pr-700));
}

.control {
  --outlineClr: var(--clr-neu-400);
  display: block;
  width: 100%;
  padding: calc(var(--spacer-400) * 1.375) var(--spacer-500);
  outline: 1px solid hsl(var(--outlineClr));
  border-radius: 7.5px;
  color: hsl(var(--clr-pr-700));
  font-weight: var(--fw-medium);

  &:focus-visible {
    --outlineClr: var(--clr-acc-500);
    box-shadow: 0 0 7.5px inset hsl(var(--outlineClr) / 0.25);

    @include max-mq(mobile) {
      font-size: var(--fs-300);
    }
  }

  &::placeholder {
    filter: brightness(1.375);
    font-weight: var(--fw-medium);
  }

  &.ng-invalid.ng-touched {
    --outlineClr: var(--clr-acc-400);
  }
}
