@use "abstracts/" as *;

:host {
  --inlinePadding: var(--spacer-500);
  --borderRadius: 20px;
  --width: 425px;

  display: block;
  padding-block-end: var(--spacer-1300);
  padding-inline: var(--inlinePadding);
  @include min-mq($layoutSwitchBp) {
    --inlinePadding: var(--spacer-500) var(--spacer-1000);
    --width: 450px;

    max-width: map-get($breakpoints, tablet);
    padding-block: var(--spacer-500);
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: var(--spacer-500) var(--spacer-1000);
    background-color: hsl(var(--clr-neu-100));
    border-radius: var(--borderRadius);
  }

  form {
    display: block;
    width: 100%;
    max-width: var(--width);
    min-height: 475px;
    margin-inline: auto;
    padding: calc(var(--spacer-700) * 1.125);
    border-radius: calc(var(--borderRadius) * 0.5);
    background-color: hsl(var(--clr-neu-100));

    @include min-mq($layoutSwitchBp) {
      padding-inline: 0;
    }

    > * {
      width: 100%;
    }
  }
}
