<ng-container *ngrxLet="vm$ as vm">

    <!-- Steps Navigation Links -->
    <form-steps-list [steps]="vm.steps" [currentStepIndex]="vm.currentStepIndex"
        (stepChange)="handleStepChange($event)"></form-steps-list>

    <!-- Main Form -->
    <form [formGroup]="form" [@childFadeInOutMerge]="vm.currentStepIndex"
        (@childFadeInOutMerge.done)="onStepChange($event)">

        @switch (vm.currentStepIndex) {

        <!-- Personal Info -->
        @case (0) {
        <form-step-container [stepName]="vm.steps[vm.currentStepIndex].name" heading="Personal info">
            <ng-container ngProjectAs="[description]">
                Please provide your name, email address, and phone number.
            </ng-container>
            <ng-container ngProjectAs="[content]" formGroupName="personalInfo">
                <form-personal-info></form-personal-info>
            </ng-container>
        </form-step-container>
        }

        <!-- Plan -->
        @case (1) {
        <form-step-container [stepName]="vm.steps[vm.currentStepIndex].name" heading="Select your plan">
            <ng-container ngProjectAs="[description]">
                You have the option of monthly or yearly billing.
            </ng-container>
            <ng-container ngProjectAs="[content]" formGroupName="selectedPlan">
                <form-plans [plans]="vm.plans" [duration]="vm.planDuration"></form-plans>
                <form-duration-switch [planDuration]="vm.planDuration"
                    (durationChange)="togglePlanDuration($event)"></form-duration-switch>
            </ng-container>
        </form-step-container>
        }

        <!-- Add-ons -->
        @case (2) {
        <form-step-container [stepName]="vm.steps[vm.currentStepIndex].name" heading="Pick add-ons">
            <ng-container ngProjectAs="[description]">
                Add-ons help enhance your gaming experience
            </ng-container>
            <form-add-ons ngProjectAs="[content]" [addOns]="vm.addOns" [selectedPlan]="vm.selectedPlan"
                [duration]="vm.planDuration" formControlName="includedAddOns"></form-add-ons>
        </form-step-container>
        }

        <!-- Summary -->
        @case (3) {
        <form-step-container [group]="false" [stepName]="vm.steps[vm.currentStepIndex].name" heading="Finishing up">
            <ng-container ngProjectAs="[description]">
                Double-check everything looks OK before confirming.
            </ng-container>
            <form-summary ngProjectAs="[content]" [summary]="vm.formSummary!"></form-summary>
        </form-step-container>
        }

        <!-- Confirmation Message -->
        @case (-1) {
        <form-confirmation-msg></form-confirmation-msg>
        }

        }


    </form>

    <!-- Links At The Bottom -->
    @if (vm.currentStepIndex !== -1) {
    <form-lower-controls [steps]="vm.steps" [currentStepIndex]="vm.currentStepIndex"
        (stepChange)="handleStepChange($event)"></form-lower-controls>
    }
</ng-container>