@use "abstracts" as *;

.plans {
  @include gridSpacer(var(--spacer-400));
  margin-bottom: var(--spacer-500);

  @include min-mq($layoutSwitchBp) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--spacer-400);
  }

  .label {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--spacer-500);
    padding: var(--spacer-500);
    padding-inline-end: var(--spacer-700);
    cursor: pointer;

    @include min-mq($layoutSwitchBp) {
      grid-template-columns: none;
      gap: var(--spacer-700);
    }

    &:focus-within {
      box-shadow: 0 0 10px hsl(var(--clr-neu-400));
    }

    &__media {
      justify-self: flex-start;
      img {
        width: 50px;
      }
    }

    &__content {
      span {
        display: block;
        width: max-content;
      }

      span:last-child {
        max-height: 100px;
        transition-duration: 250ms;

        &.js-hidden {
          max-height: 0;
          overflow: hidden;
        }
      }
    }
  }
}
