@use "abstracts" as *;

:host {
  display: block;
}

.header {
  display: block;
  margin-bottom: var(--spacer-700);
  .heading {
    margin-bottom: var(--spacer-200);
    font-size: var(--fs-800);
    font-weight: var(--fw-bold);
    color: hsl(var(--clr-pr-700));
  }
}
