@if (group) {
<fieldset>
    <legend>{{heading}}</legend>
    <ng-container *ngTemplateOutlet="tpl"></ng-container>
</fieldset>
} @else {
<section [attr.aria-label]="heading">
    <ng-container *ngTemplateOutlet="tpl"></ng-container>
</section>
}

<ng-template #tpl>
    <div class="header">
        <h2 class="heading" id="{{stepName | link}}-heading">
            {{heading | capitalize}}
        </h2>
        <p class="description" id="{{stepName | link}}-description">
            <ng-content select="[description]"></ng-content>
        </p>
    </div>
    <div class="content">
        <ng-content select="[content]"></ng-content>
    </div>
</ng-template>