@use "../abstracts/" as *;

/* Accessibility */
.c-accessibility-link {
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  z-index: map-get($zIndex, accessibilityLink);

  &:focus {
    top: 2rem;
  }
}

// .c-stt-btn {
//   // Scroll To Top Button
//   position: fixed;
//   padding: map-get($sttBtn, padding);
//   border-radius: map-get($sttBtn, borderRad);
//   bottom: map-get($sttBtn, bottomOffset);
//   inset-inline-end: map-get($sttBtn, inlineOffset);
//   background-color: map-get($sttBtn, bgClr);
//   color: map-get($sttBtn, color);
//   @include prefix(text-stroke, 1px);
//   @include hide();
//   z-index: 1;

//   &.js-show-up {
//     @include showUp();
//   }
// }

.c-srn {
  @include screenReaderOnly();
  visibility: hidden;

  &.js-show-up {
    visibility: visible;
  }
}
